<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CardDesignEntities" connectionString="metadata=res://*/CardDesign.csdl|res://*/CardDesign.ssdl|res://*/CardDesign.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI-NIM\SQLEXPRESS;initial catalog=CardDesign;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>