@model Model.AlchemyCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.DisplayForModel()
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
