@model Model.AlchemyCost
<tr>
    <td>@Html.DisplayFor(model => model.AlchemyElement)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement1)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement2)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement3)</td>
</tr>